body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}
nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

nav ul{
    /* border:1px solid red; */
    flex:1;
    max-width:50%;
    display: flex;
    justify-content: space-between;

}

ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}

/* @media(max-width:800px){
    h1{
        font-style: italic;
        color: aqua;
    }
} */
h1{
    color:springgreen;
}

@media(max-width:1500px){
    h1{
        color: Yellow;
    }
}
@media(max-width:1000px){
    h1{
        color: orange;
    }
}
@media(max-width:500px){
    h1{
        color: red;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:1320px){
    h1{
        font-size: 5em;
    }
}
@media(max-width:1140px){
    h1{
        font-size: 4em;
    }
}
@media(max-width:900px){
    h1{
        font-size: 3em;
    }
}

@media(max-width:680px){
    h1{
        font-size: 2em;
    }
}

@media(max-width:450px){
    h1{
        font-size: 1.5em;
    }
}


@media(max-width:340px){
    h1{
        font-size: 1em;
    }
}



